{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    {% set href = previous_url %}
    {% include "__title.html" %}
    
    
    <div class="row justify-content-center mt-5 p-2">
        

            <form action="" method="post" class="col-lg-9 mx-auto">
                
                <div class="mb-3">
                    <label for="role" class="form-label">Cargo</label>
                    <input type="text" id="role" name="role"  class="form-control" value="{{role.name}}" required>
                </div>
            
           
                <div class="mb-3">
                    <label for="description" class="form-label">Descripción</label>
                    <input type="text-field" id="description" name="description" value="{{role.description}}" class="form-control">
                </div>

                <div class="mb-3">
                    <div class="d-grid col-sm-6 mx-auto">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                    
                </div>
            </form>
        
    </div>
{% endblock %}