{% extends "base.html" %}

{%  block title %} {{ title }} {% endblock %}

{% block content %}
<div class="g-2 row text-center col-lg-8 mx-auto">
    <h1 class="col-1"><a href="{{url_for('admin.users')}}" class=""><i class="bi bi-chevron-left"></i></a> </h1>
    <h1 class="col text-primary-emphasis">{{ title }}</h1>
    <h1 class="col-1"></h1>
</div>
<div class="justify-content-center row mt-5">
    
    
    <div class="col-lg-6 border shadow-sm rounded">
        <form action="" method="post" class="p-2" >
            
            <div class="mb-3 pb-1">
                <h2>Registrar datos</h2>
                <p>Ingresa los datos del nuevo usuario</p>
                <hr >
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">Rol</label>
                <select class="form-select" id="role" name="role" required>
                    <option value="" selected>Selecciona un rol</option>
                    {% for role in roles %}
                        <option value="{{role.id}}">{{role.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Fecha de nacimiento</label>
                <input type="date" class="form-control" id="birth" name="birth" >
            </div>
            <div class="d-grid col-md-6 mx-auto mb-3 pt-5">
                <button id="submit"  type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>
    </div>
</div>
    
{% endblock %}