{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
{% set href = previous_url %}
    {% include "__title.html" %}

    <div class="p-3">
        <div class="row">
            <div class="col">Usuarios:</div>
            <div class="col">{{users | length}}</div>
        </div>
        <div class="row">
            <div class="col">Roles:</div>
            <div class="col">{{roles | length}}</div>
        </div>
    </div>
    

    <div class="p-3"></div>


    
    
   

 
    <div class=""></div>   
    {% for role in roles %}
        <div class="row border p-2 shadow rounded mb-3">        
            <div class="col-md-2">
                {{role.name}}                
            </div>
            <div class="col row ">
                {% for mod in modules %}
                <div class="col-md-auto">
                    <div class="border rounded mx-1 mb-3">
                        <div class="p-2">
                            <div class="p-2">{{mod.name}}</div>
                            <div class=""> 
                                <a href="{{url_for('admin.permissions', role_id = role.id, module_id = mod.id)}}">
                                    <div class="d-grid gap-2 ">        
                                        <button class="btn btn-primary" type="button">Editar</button>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div class="row container-fluid">
                            <div class="col-6 container-fluid">
                                Lectura
                            </div> 
                            <div class="col-6">
                                {% if role.get_permissions_by_mod(role.id, mod.id).read == True %}
                                <span class="badge rounded-pill text-bg-success"><small>Permitido</small></span>
                                {% else %}
                                <span class="badge rounded-pill text-bg-danger"><small>Denegado</small></span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row container-fluid">
                            <div class="col-6">
                                Escritura
                            </div> 
                            <div class="col-6">
                                {% if role.get_permissions_by_mod(role.id, mod.id).write == True %}
                                <span class="badge rounded-pill text-bg-success"><small>Permitido</small></span>
                                {% else %}
                                <span class="badge rounded-pill text-bg-danger"><small>Denegado</small></span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row container-fluid">
                            <div class="col-6">
                                Borrar 
                                
                            </div> 
                            <div class="col-6">
                                {% if role.get_permissions_by_mod(role.id, mod.id).erase == True %}
                                <span class="badge rounded-pill text-bg-success"><small>Permitido</small> {{role.permissions.delete}}</span>
                                {% else %}
                                <span class="badge rounded-pill text-bg-danger"><small>Denegado</small></span>
                                {% endif %}
                            </div>
                        </div>   
                    </div>

                </div>
                    
                {% endfor %}
    
            </div>
        </div>
    {% endfor %}
    


{% endblock %}