{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
{% set href = previous_url %}
    {% include "__title.html" %}

        <div>
            <a class="btn btn-primary" href="{{url_for('admin.add_mod')}}">Add Mod</a>
        </div>
    
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        
                        <th scope="col">Nombre</th>
                        <th scope="col">Código</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody >
                    {% for mod in mods %}
                    <tr data-id="3" draggable="true">
                        
                        <td>
                            <a href="{{url_for('admin.add_mod', mod_id=mod.id)}}" class="text-decoration-none text-black">{{mod.name}}</a>
                        </td>
                        <td>{{mod.code}}</td>
                
                        <td class="text-center">           
                            <a href="" class="text-decoration-none text-secondary" data-bs-toggle="modal" data-bs-target="#deleteModal-{{mod.id}}">
                                <i class="bi bi-trash"></i><br>                            
                            </a>
                            {% set modal_id = mod.id %}
                            {% set delete_url = url_for('admin.delete_mod', mod_id=mod.id) %}
                            {% include "__delete_modal.html"%}   
                            
                        </td>
                     
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    

{% endblock %}