{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}

    {% set href = previous_url %}
    {% include "__title.html" %}

    <div>
        <a href="{{url_for('admin.add_role')}}">
            <button class="btn btn-primary"><i class="bi bi-plus-circle">Añadir rol</i></button>
        </a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Descripción</th>
                    <th scope="col" colspan="2">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for role in roles %}
                <tr>
                    <td>
                        {{role.id}}
                    </td>
                    <td>
                        <a href="{{url_for('admin.add_role', role_id=role.id)}}" class="text-secondary text-decoration-none">
                            {{role.name}}<i class="bi bi-chevron-right"></i>
                        </a>
                    </td>
                    <td>{{role.description}}</td>
                    <td>
                    </td>
                    <td>
                        <a class="text-secondary text-decoration-none" data-bs-toggle="modal" data-bs-target="#deleteModal-{{role.id}}">
                            <i class="bi bi-trash"></i>
                        </a>
                        {% set modal_id = role.id %}
                        {% set delete_url = url_for('admin.delete_role', role_id=role.id) %}
                        {% include "__delete_modal.html"%}

                        
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
        
    </div>

    
{% endblock %}