{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

    {% set href = previous_url %}
    {% include "__title.html" %}

    <div>
        <a href="{{url_for('admin.add_user')}}" class="btn btn-primary">
            <i class="bi bi-person-plus"> Nuevo</i>
        </a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Rol</th>
                    <th scope="colgroup" colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>
                        <a href="{{url_for('admin.add_user', user_id=user.id)}}" class="text-secondary text-decoration-none">
                            {{ user.name }}<i class="bi bi-chevron-right"></i>
                        </a>
                        
                    </td>
                    <td>{{ user.role.name }}</td>
                    <td>
                    </td>
                    <td>
                        <a href="" class="text-decoration-none text-secondary" data-bs-toggle="modal" data-bs-target="#deleteModal-{{user.id}}">
                            <i class="bi bi-trash"></i><br>                            
                        </a>
                        {% set modal_id = user.id %}
                        {% set delete_url = url_for('admin.delete_user', user_id=user.id) %}
                        {% include "__delete_modal.html"%} 
                        
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
