{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

    {% set href = previous_url %}
    {% include "__title.html" %}

    <div>
        <a href="{{url_for('admin.add_user')}}">
            <button class="btn btn-primary">Añadir usuario</button>
        </a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Rol</th>
                    <th scope="col">email</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="colgroup" colspan="2">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.role.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.birth }}</td>
                    <td>
                        <a href="{{url_for('admin.add_user', user_id=user.id)}}" class="text-decoration-none">
                            <button class="btn btn-sm btn-primary">
                                <div><i class="bi bi-pencil"></i></div>
                                <div><small>Editar</small></div>
                            </button>
                        </a>
                        
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            <div><i class="bi bi-x-lg"></i></div>
                            <div><small>Borrar</small></div>
                        </button>

                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="deleteModalLabel">Eliminar registro</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  Esta seguro que desea eliminar este registro permanentemente?
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                  <a href="{{url_for('admin.delete_user', user_id=user.id)}}"><button type="button" class="btn btn-danger" >Eliminar</button></a>
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
