{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="col-lg-8 mx-auto pt-2">
    {% set href= url_for('social.social') %}
    {% include "__title.html" %}

    <a href="{{url_for('social.add_community')}}">
        <button class="btn btn-primary">
            <i class="bi bi-plus-circle">Nueva comunidad</i>
        </button>
    </a>

    <div class="table-responsible">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Comunidad</th>
                    <th scope="col">Descripción</th>
                    <th scope="col" colspan="2">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for community in communities %}
                <tr>
                    <td>{{ community.name }}</td>
                    <td>{{ community.description }}</td>
                    <td>
                        <a href="{{url_for('social.add_community', community_id=community.id)}}">
                            <button class="btn btn-primary">
                                <div>
                                    <i class="bi bi-pencil" ></i>
                                </div>
                                <div>
                                    <small>Edit</small>
                                </div>
                            </button>
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-{{community.id}}">
                            <div><i class="bi bi-x-lg"></i></div>
                            <div><small>Borrar</small></div>
                        </button>
                        {% set modal_id = community.id %}
                        {% set delete_url = url_for('social.delete_community', community_id=community.id) %}
                        {% include "__delete_modal.html"%}
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>


</div>

{% endblock %}