:root {
    --bs-backdrop-zindex: 1040;  /* Ajusta este valor */
}
.modal-backdrop {
    display: none !important;
}

.modal {
    z-index: 1 !important;
    position: fixed !important;  /* Asegura que el modal esté encima */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}