{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-8 g-3 ">
            <div class="container-fluid border rounded shadow-sm">
            <form action="" method="post" class="p-2 row" >
                <div class="col-lg-6">
                    <div class="mb-3 text-center">
                        <img src="{{url_for('static', filename='img/hidrotambo_sa_logo.jpg')}}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="pepito@hidrotambo.com" required>
                        {% if email_error %}
                            <span class="text-danger">{{ email_msg }}</span>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="**********" required>
                        {% if password_error %}
                            <span class="text-danger">{{ password_msg }}</span>
                        {% endif %}
                       
                    </div>
                    <div class="mb-3">
                        <input type="submit" id="submit" class="btn btn-primary">
                    </div>
                    <div class="mb-3">
                        <div>¿Olvidaste tu contraseña? <a href="">Click aquí</a></div>
                    </div>
                </div>
                
            </form>
        </div>
        </div>
    </div>
{% endblock %}