{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
    {% set href = previous_url %}
    {% include "__title.html" %}

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Actividad</th>                 
                    <th scope="col">Módulo</th>
                    <th scope="col" colspan="2"></th>
                </tr>
                <tbody>
                    {% for activity in activities %}
                        <tr>
                            <td>
                                <a href="{{url_for('common.view_activity', activity_id=activity.id)}}" class="text-center text-decoration-none text-secondary">
                                    {{ activity.name }} <i class="bi bi-chevron-right"></i>
                                </a>
                            </td>               
                            <td>{{ activity.module.name }}</td>
                            <td></td>
                            <td>
                                <a href="{{url_for('common.view_activity', activity_id=activity.id)}}" class="text-center text-decoration-none text-secondary">
                                   <i class="bi bi-chevron-right"></i>
                                </a>                                                    
                            </td>                            
                        </tr>
                    {% endfor %}    
                </tbody>
            </thead>

        </table>

    </div>

{% endblock %}