{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
    {% set href = previous_url %}
    {% include "__title.html" %}

    <div class="card mt-5">
        <div class="card-header bg-light">
            <div class="card-title">
                <i class="bi bi-info-circle">Detalles de la actividad</i>
            </div>
        </div>
        <div class="card-body">
            <h2 class="card-title mb-2">{{ activity.name }}</h2>
            <h5 class="card-subtitle mb-5 text-muted"><i class="bi bi-box"></i>Módulo: {{ activity.module }}</h5>
            
            <p class="card-text fw-medium">Descripción: </p>
            <p class="card-text">{{ activity.description }}</p>
            <p class="card-text fw-medium">Observaciones: </p>
            <p class="card-text">{{ activity.notes }}</p>
            <div class="d-flex justify-content-end">
                <a href="{{url_for('common.add_activity', module=module, activity_id=activity.id)}}" class="btn btn-primary btn-sm me-2"><i class="bi bi-pencil"></i>Editar</a>
            </div>
        </div>
    </div>


{% endblock %}