{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
    {% set href = url_for('public.index') %}
    {% include "__title.html" %}

    <section id="search">
        <div class="col-md-8 mx-auto mb-5">

            <form role="search" class="d-flex justify-content-center">
                <div class="border border-1 rounded-3 d-flex flex-fill align-items-center">
                    <label for="docsearch-input">
                        <i class="bi bi-search  mx-2"></i>
                    </label>
                  
                    <input id="docsearch-input" class="form-control " type="search" placeholder="Buscar" aria-label="Search" style="background: transparent; border:0"
                    aria-autocomplete="both" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="64">
                
                </div>
            </form>

            <div>      
                <ul id="docsearch-list" class="list-group">
                    <!-- Search results will be displayed here -->

                </ul>                
            </div>    

        </div>
    </section>

    <section id="report-list">
        <div class="col-lg-8 mx-auto">
            {% for report in reports %}
            <a href="{{url_for('common.report_view', report_id=report.id)}}" class="text-decoration-none text-black">
                <div class="row border border-1 rounded-2 mb-3 mx-1 p-2">                
                    <div class="col-11 ">                       
                        <div class="fw-medium mb-1">       
                            {{ report.code }}
                        </div>   
                        <div class="text-truncate">{{ report.details.activity }}</div>
                        <div class=""> {{ report.details.date }} 
                            {% if report.details.is_approved %}
                                <span class="badge bg-success" >
                                    Aprobado
                                </span>
                            {% else %}
                                <span class="badge bg-secondary-subtle text-secondary-emphasis" >
                                    Pendiente
                                </span>
                                
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-1 p-0">
                        <i class="bi bi-chevron-right fs-2 text-muted"></i>
                    </div>
                </div>
            </a>
           
            {% endfor %}
        </div>
    </section>

   

   

    <script src="{{ url_for('static', filename='js/report_search.js') }}"></script>

{% endblock %}