{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% set href=previous_url %}
    {% include "__title.html" %}

    <div class="card mt-5">
        <div class="card-header bg-light">
            <div class="card-title">
                <i class="bi bi-file-earmark-check "> Detalles del trabajo</i>
            </div>
        </div>
        <div class="card-body">
            <div>
                <h5 class="card-subtitle mb-3 text-muted text-end">Código: {{report.code}}</h5>
            </div>
            <div class="row mb-5">
                <div class="col-sm-4">
                    <div class="border rounded p-2">
                        <div class="row">
                            <div class="col d-flex align-items-center">
                                <i class="bi bi-calendar-week fs-5 me-2 text-primary-emphasis"> </i>
                                <span class="fw-bold">Fecha:</span>
                            </div>
                            <p class="col text-nowrap m-auto">{{ report.details.date }}</p>
                        </div>      
                    </div>
                        
                </div>
                <div class="col-sm-4">
                    <div class="border rounded p-2">
                        <div class="row">
                            <div class="col d-flex align-items-center">
                                <i class="bi bi-clock fs-5 me-2 text-primary-emphasis"> </i>
                                <span class="fw-bold">Inicio:</span>
                            </div>
                            <p class="col text-nowrap m-auto p-0">{{ report.details.start_hour.strftime("%H:%M") }}</p>
                        </div>
 
                    </div>
                        
                </div>
                <div class="col-sm-4">
                    <div class="border rounded p-2">
                        <div class="row">
                            <div class="d-flex align-items-center col">
                                <i class="bi bi-clock fs-5 me-2 text-primary-emphasis"> </i>
                                <span class="fw-bold">Fin:</span>
                            </div>         
                            <p class="col text-nowrap m-auto p-0">{{ report.details.end_hour.strftime("%H:%M") }}</p>                 
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="border rounded p-2">
                        <div class="row">
                            <div class="col d-flex align-items-center">
                                <i class="bi bi-person fs-5 me-2 text-primary-emphasis"> </i>
                                <span class="fw-bold">Responsable:</span>
                            </div>
                            <p class="col text-nowrap m-auto">{{ report.details.responsible.name }}</p>
                        </div> 
                    </div>         
                </div>
                <div class="col-sm-6">
                    <div class="border rounded p-2">
                        <div class="row">
                            <div class="col d-flex align-items-center">
                                <i class="bi bi-person-check fs-5 me-2 text-primary-emphasis"> </i>
                                <span class="fw-bold">Aprobado por:</span>
                            </div>
                            <p class="col text-nowrap m-auto">{{ report.details.approver.name }}</p>
                        </div> 
                    </div>         
                </div>
                
            </div>

            

            <h2 class="card-title mb-4">{{ report.details.activity }}</h2>
            
            
            
            <div class="mb-3">
                <p class="card-text fw-medium">Descripción: </p>
                <p class="card-text">{{ report.details.description }}</p>
                
            </div>

            

            <div class="mb-3">
                <p class="card-text fw-medium">Equipo de trabajo: </p>
                
                
                <ul>
                    <li class="card-text">{{ report.details.responsible.name }} (R) </li>
                    {% for worker in team %}
                        <li class="card-text">{{ worker.user.name }}</li>
                    {% endfor %}
                    {% if report.details.n_external != 0 and report.details.n_external != None %}
                        <li class="card-text">Trabajadores externos: {{ report.details.n_external }}</li>
                    {% endif %}
                    
                </ul>
                <p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;Total trabajadores: {{ report.details.n_team }}</p>
                
                   
             
            </div>

            <div class="mb-3">
                <p class="card-text fw-medium">Duración de la actividad: </p>
                <p class="card-text" ><i class="bi bi-clock"></i> Total: {{ report.details.total_time | round(2) }} horas  </p>
            </div>
            
            <div class="mb-3">
                <p class="card-text fw-medium">Observaciones: </p>
                <p class="card-text">{{ report.details.notes }}</p>
            </div>
            <div class="mb-5">
                <p class="card-text fw-medium">Registro fotográfico: </p>
                <div class="row">
                    {% for image in images %}
                        <img src="{{ url_for('common.media_report', filename=image.filename) }}" alt="" class="img-fluid col-sm-4">
                    {% endfor %}
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <a href="{{ url_for('common.generate_pdf', report_id=report.id)}}" class="btn btn-primary btn-sm me-2"><i class="bi bi-file-pdf"></i>PDF</a>
                {% if current_user.id == report.details.responsible_id or current_user.name == "admin" %}
                    {% if not report.details.is_approved or current_user.name == "admin" %}
                    <a href="{{ url_for('common.edit_report', report_id=report.id) }}" class="btn btn-outline-secondary btn-sm me-2"><i class="bi bi-pencil"></i>Editar</a>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal-{{report.id}}">
                        <i class="bi bi-trash"></i>Borrar<br>                            
                    </button>
                    {% set modal_id = report.id %}
                    {% set delete_url = url_for('common.delete_report', report_id=report.id) %}
                    {% include "__delete_modal.html"%}   
                    {% endif %}
                {% endif %}
                {% if current_user.role.name == "Operador" and not report.details.is_approved %}
                    <a href="{{url_for('common.approve_report', report_id=report.id)}}" class="text-decoration-none btn btn-success" >
                        <i class="bi bi-file-earmark-check"></i>Aprobar
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}