{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
    {% set href = url_for('public.index') %}
    {% include "__title.html" %}

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Código</th>                 
                    <th scope="col">Actividad</th>
                    <th scope="col">Fecha</th>
                    <th scope="col" colspan="2"></th>
                </tr>
                <tbody>
                    {% for report in reports %}
                        <tr>
                            <td>
                                <a href="{{url_for('common.report_view', report_id=report.id)}}" class="text-center text-decoration-none text-secondary">
                                    {{ report.code }} <i class="bi bi-chevron-right"></i>
                                </a>
                            </td>               
                            <td>{{ report.details.activity }}</td>
                            <td>{{ report.details.date }}</td>
                            <td></td>
                            <td>
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#deleteModal-{{report.id}}">
                                    <i class="bi bi-trash"></i><br>                            
                                </button>
                                {% set modal_id = report.id %}
                                {% set delete_url = url_for('common.delete_report', report_id=report.id) %}
                                {% include "__delete_modal.html"%}                                                     
                            </td>                            
                        </tr>
                    {% endfor %}    
                </tbody>
            </thead>

        </table>

    </div>

{% endblock %}