{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% set href = previous_url %}
    {% include "__title.html" %}

    <div class="table-responsive">
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Actividad</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                <tr>
                    <td>
                        
                        <a href="{{ url_for('common.report_view', report_id=report.id)}}" class="text-decoration-none text-secondary">
                            {{ report.code }} <i class="bi bi-chevron-right"></i>
                        </a>
                    </td>
                    <td>{{ report.date }}</td>
                    <td>{{ report.activity }}</td>
                    <td>
                        <a href="{{ url_for('common.delete_report', report_id = report.id) }}"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                    

                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}