{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
    {% set href = previous_url %}
    {% include "__title.html" %}

    
        <h2 class="mb-4">Reporte de Trabajo</h2>
        <form method="POST" action="" enctype="multipart/form-data" id="uploadForm">
            <div class="form-group mb-3">
                <label for="wo_code">N° Orden de trabajo:</label>
                <input type="text" name="wo_code" id="wo_code" value="{{ wo_code }}" disabled>
            </div>
 

            <div class="form-group mb-3 row">
                <div class="mb-3 col-md-6">
                    <label for="date">Fecha:</label>
                    <input type="date" class="form-control" id="date" name="date" value="{{report.date or today}}" required>
                </div>
                <div class="form-group mb-3 col-md-3">
                    <label for="start">Hora inicio</label>
                    <input type="time" class="form-control" id="start" name="start" value="{{report.start_hour}}" required>
                </div>
                <div class="form-group mb-3 col-md-3">
                    <label for="end">Hora fin:</label>
                    <input type="time" class="form-control" id="end" name="end" value="{{report.end_hour}}" required>
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="type">Tipo de mantenimiento:</label>
                <select name="type" id="type" class="form-select">
                    <option value="Preventivo">Preventivo</option>
                    <option value="Correctivo">Correctivo</option>
                    <option value="Predictivo">Predictivo</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label for="system">Sistema:</label>
                <select name="system" id="system">
                    <option value="U1">Unidad 1</option>
                    <option value="U2">Unidad 2</option>
                    <option value="Subestación">Subestación</option>
                    <option value="Linea">Línea de transmisión</option>
                </select>                
            </div>

            <div class="form-group mb-3">
                <label for="subsystem">Sub-sistema:</label>
                <input type="text" id="subsystem" name="subsystem">              
            </div>

            <div class="form-group mb-3">
                <label for="element">Elemento</label>
                <input type="text" id="subsystem" name="subsystem">              
            </div>

            <div class="form-group mb-3">
                {% if planed_activity %}
                <label for="activity">Actividad :</label>
                <input type="text" class="form-control" id="activity" name="activity" required>
                {% else %}
                <label for="activity" class="form-label">Actividad realizada:</label>
                <input type="text" id="activity" name="activity" value="{{ report.activity }}" required>
                {% endif %}
            </div>
            
            <div class="form-group mb-3">
                <label for="description">Descripción de actividad:</label>
                <textarea class="form-control" id="description" name="description" rows="3" required>
                    {% if report.description%}
                    {{ report.description }}
                    {% endif %}
                </textarea>
            </div>

            

            <div class="form-group mb-3 row">
                <div class="mb-3 col-sm-8">
                    <label for="responsible_id" class="form-label">Responsable:</label>
                    <select id="responsible_id" name="responsible_id" class="form-select" required>
                                
                        {% for user in users %}
                        
                            {% if report %}
                                <option value="{{user.id}}" {% if user.id == report.responsible_id %} selected {% endif %}>{{user.name}}</option>
                            {% else %}
                                <option value="{{user.id}}" {% if user.id == current_user.id %} selected {% endif %}>{{user.name}}</option>
                            {% endif %}
                        {% endfor %}      
                    </select>
                </div>
                
                <div class="form-group mb-3 col-sm-4">
                    <label for="team">N° personas:</label>
                    <input type="number" class="form-control" id="team" name="team" value="{{report.team}}" required>
                </div>
            </div>

            
            <div class="form-group">
                <label for="files">Selecciona las imagenes</label>
                <input type="file" class="form-control-file" id="files" name="files" accept="image/*" multiple onchange="thumbs_process()"><br><br>
            </div>
            <div class="row" id="imagePreview">
                
                <!-- Aquí se añadirán las miniaturas de las imágenes -->
                 {% for image in report.images %}
                 <div class="col-sm-3 mb-3">
                    <div class="text-end">
                        <button type="button" class="btn btn-close btn-sm" onclick="delete_thumbs(this)"></button>
                    </div>
                    <img src="{{ url_for('common.media_report', filename=image.filename) }}" alt="" class="img-thumbnail img-fluid">
                 </div>
                    
                 {% endfor %}
            </div>
            
            <div class="form-group mb-3">
                <label for="notes">Observaciones:</label>
                <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>

{% endblock %}