{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% set href = previous_url %}
    {% include "__title.html" %}

    <h2>OT</h2>
    
    <form action="" method="post" >
        <div class="mb-3">
            <label for="mod" class="form-label">Módulo</label>
            <select name="mod_id" id="mod_id" class="form-select" required>
                <option value="">Selecciona un módulo</option>
                {% for mod in mods %}
                    {% if work_order.mod_id %}
                        <option value="{{mod.id}}" {% if mod.id == work_order.mod_id %} selected {% endif %}>{{ mod.name }}</option>
                    {% else %}
                        <option value="{{mod.id}}">{{ mod.name }}</option>
                    {% endif %}
                    
                {% endfor%}
            </select>
        </div>
        <div class="mb-3" class="form-label">
            <label for="date">Fecha:</label>
            <input class="form-control" type="date" name="date" id="date" value="{{ today }}" required>
        </div>
        <div class="mb-3">
            <label for="responsible" class="form-label">Solicitante:</label>
            <select name="responsible_id" id="responsible_id" class="form-select">
                {% for user in users %}
                    {% if work_order.responsible_id %}
                    <option value="{{ user.id }}" {% if user.id == work_order.responsible_id %} selected {% endif %}>{{ user.name }}</option>
                    {% else %}
                    <option value="{{ user.id }}" {% if user.id == current_user.id %} selected {% endif %}>{{ user.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="assigned_personnel" class="form-label">Ejecutor:</label>
            <select name="assigned_personnel" id="assigned_personnel" class="form-select">
                <option value="">Seleccione un usuario</option>
                {% for user in users %}
                
                    {% if work_order.assigned_personnel_id %}
                    <option value="{{ user.id }}" {% if user.id == work_order.assigned_personnel_id %} selected {% endif %}>{{ user.name }}</option>
                    {% else %}
                    <option value="{{ user.id }}">{{ user.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        
        <div class="mb-3">
            <label for="priority" class="form-label">Prioridad</label>
            <select name="priority_level" id="priority_level" class="form-select" required>
                <option value="Inmediata">Inmediata</option>
                <option value="Alta">Alta</option>
                <option selected value="Media">Media</option>
                <option value="Baja">Baja</option>    
            </select>
        </div>
        <div class="mb-3">
            <label for="activity" class="form-label">Actividad:</label>
            <input class="form-control" type="text" name="activity" id="activity" value="{{work_order.activity}}" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Descripción:</label>
            <textarea class="form-control" id="description" name="description" rows="3">{% if work_order.description %}{{ work_order.description }}{% endif %}</textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>

{% endblock %}