{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% set href = previous_url %}
    {% include "__title.html" %}

    <div class="card mt-3 shadow-sm">
        <div class="card-header bg-light">
            <h5 class="card-title mb-0">
                <i class="bi bi-info-circle"></i> Detalles de la orden de trabajo
            </h5>
        </div>
        
        <div class="card-body">

            <!-- Info principal -->
            
                <div class="border rounded p-2 h-80 mb-3">
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-upc-scan fs-4 me-2 text-primary-emphasis"></i>
                        <span class="fw-bold">Código:  </span>  <p class="mb-0">{{wo.code}}</p>
                    </div>
                    
                </div>
            
            <div class="row mb-3">
                
                <div class="col-md-4">
                    <div class="border rounded p-2">
                        <div class="row ">
                            
                            <div class="d-flex align-items-center col">
                                <i class="bi bi-calendar-week fs-4 me-2 text-primary-emphasis"></i>
                                <span class="fw-bold">Fecha: &nbsp</span>
                                
                            </div>
                            <p class="col text-nowrap m-auto">{{ wo.request_date }}</p>
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="border rounded p-2">
                        <div class="row">
                            <div class="d-flex align-items-center col">
                                <i class="bi bi-clock fs-4 me-2 text-primary-emphasis"></i>
                                <span class="fw-bold">Estado: &nbsp</span>
                                
                            </div>
                            <p class="col text-nowrap m-auto">
                                <span class="badge {{ 'bg-secondary' if wo.status == 'Completada' else 'bg-success' }}">
                                    {{ wo.status }}
                                </span>
                            </p>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="border rounded p-2">
                        <div class="row">
                            <div class="d-flex align-items-center col">
                                <i class="bi bi-exclamation-circle fs-4 me-2 text-primary-emphasis"></i>
                                <span class="fw-bold">Prioridad:&nbsp </span> 
                                
                            </div>
                            <p class="col text-nowrap m-auto">
                                <span class="badge 
                                    {% if wo.priority_level == 'Inmediata' %}bg-danger-subtle border border-danger text-danger
                                    {% elif wo.priority_level == 'Alta' %}bg-danger
                                    {% elif wo.priority_level == 'Media' %}bg-warning
                                    {% else %}bg-secondary{% endif %}">
                                    &nbsp&nbsp{{ wo.priority_level }}&nbsp&nbsp
                                </span>
                            </p>
                        </div>
                                          
                    </div>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="border rounded p-2">
                        <div class="row">
                            <div class="d-flex align-items-center col">
                                <i class="bi bi-person fs-4 me-2 text-primary-emphasis"></i>
                                <span class="fw-bold">Solicitado por: &nbsp</span> 
                            </div>
                            <p class="col text-nowrap m-auto">{{ wo.responsible.name }}</p>  
                        </div> 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="border rounded p-2">
                        <div class="row">
                            <div class="col d-flex align-items-center">
                                <i class="bi bi-person-check fs-4 me-2 text-primary-emphasis"></i>
                                <span class="fw-bold">Ejecutor/Resp: &nbsp</span> 
                            </div>
                            <p class="col text-nowrap m-auto">{{ wo.assigned_personnel.name }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- El resto del OT -->
            <h2 class="card-title mb-5">{{ wo.activity }}</h2>           
            <div class="mb-5">
                <p class="card-text fw-medium">Descripción: </p>
                <p class="card-text">{{ wo.description }}</p>
            </div>

            <div class="mb-5">
                <p class="card-text fw-medium">Reportes: </p>
                {% if reports %}
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <th>Código</th>
                            <th>Fecha</th>
                            <th>Responsable</th>
                        </thead>
                        <tbody>
                        {% for report in reports %}
                            <tr>
                                <td>
                                    <a class="text-center text-decoration-none text-secondary" href="{{ url_for('common.report_view', report_id=report.id) }}">
                                        {{ report.code }}<i class="bi bi-chevron-right"></i>
                                    </a>
                                    
                                </td>
                                <td>{{ report.details.date }}</td>
                                <td>{{ report.details.responsible.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    
                </div>
                {% else %}
                    <p class="card-text">No se han generado reportes</p>
                {% endif %}
            </div>

            
        </div>
    </div>

    <!-- botones -->

    <div class="d-flex justify-content-end mt-3">                
        <a href="" class="btn btn-secondary btn-sm me-2"><i class="bi bi-printer"></i> Imprimir</a>
        <a href="" class="btn btn-primary btn-sm me-2"><i class="bi bi-file-pdf"></i>PDF</a>
        {% if current_user.role.name == "Operador" %}
            <a href="{{ url_for('maintenance.work_order', wo_id=wo.id) }}" class="btn btn-secondary btn-sm me-2"><i class="bi bi-pencil"></i> Editar</a>
            {% if wo.status == "Abierta" %}
                <a href="{{ url_for('maintenance.close_work_order', wo_id=wo.id) }}" class="btn btn-sm me-2 btn-secondary"><i class="bi bi-check-circle"></i> Cerrar orden</a>
            {% endif %}
        {% endif %}
    </div>
    <div style="height: 60px;">

    </div>

    <!-- El resto del código sigue igual -->

{% endblock %}