{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% set href = previous_url %}
    {% include "__title.html" %}

    <section id="search">
        <div class="col-md-8 mx-auto mb-5">
        
        
            <form role="search" class="d-flex justify-content-center">
                <div class="border border-1 rounded-3 d-flex flex-fill align-items-center">
                    <label for="docsearch-input">
                        <i class="bi bi-search  mx-2"></i>
                    </label>
                  
                    <input id="docsearch-input" class="form-control " type="search" placeholder="Buscar" aria-label="Search" style="background: transparent; border:0"
                    aria-autocomplete="both" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="64">
                
                </div>
            
            </form>

            <div>
            
                <ul id="docsearch-list" class="list-group">
                    <!-- Search results will be displayed here -->

                </ul>
                
            </div>      
        </div>
    </section>
    

    <section id="wo-list">
        <div id="wo-list-container" class="col-lg-8 mx-auto">
            {% for wo in work_orders %}
            <a href="{{url_for('maintenance.work_order_view', wo_id=wo.id)}}" class="text-decoration-none">
                <div class="card mb-3 {% if wo.status == 'Completada' %}bg-light{% endif %}">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="card-title mb-1">{{ wo.code }}</h6>
                            <p class="card-text mb-1">{{ wo.activity }}</p>
                            <small class="text-muted">{{ wo.request_date }}</small>
                        </div>
                        <div class="d-flex flex-column align-items-end">
                            {% if wo.status == 'Completada' %}
                                <span class="badge bg-secondary mb-2">{{wo.status}}</span>
                            {% else %}
                                <span class="badge mb-2
                                    {% if wo.priority_level == 'Inmediata' %}bg-danger
                                    {% elif wo.priority_level == 'Alta' %}bg-warning
                                    {% elif wo.priority_level == 'Media' %}bg-info
                                    {% else %}bg-success{% endif %}">
                                    {{ wo.priority_level }}
                                </span>
                            {% endif %}
                            <i class="bi bi-chevron-right text-muted fs-2"></i>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        
    </section>

    <script src="{{ url_for('static', filename='js/ot_search.js') }}"></script>
{% endblock %}