<div class="modal fade" id="deleteModal-{{modal_id}}" tabindex="-1" aria-labelledby="deleteModalLabel-{{modal_id}}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteModalLabel-{{modal_id}}">Eliminar registro</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Esta seguro que desea eliminar este registro permanentemente?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <a href="{{ delete_url }}"><button type="button" class="btn btn-danger" >Eliminar</button></a>
          
        </div>
      </div>
    </div>
  </div>