

<nav class="row row-cols-5 text-center mx-1 mb-2">
    <a href="{{ url_for('public.index') }}" class="col text-decoration-none text-black">
        <div>
            <i class="bi bi-house" style="font-size: 1.5rem;"></i>
            <figcaption class="text-center"><small>Home</small></figcaption>
        </div>
    </a>
    <a href="{{ url_for('ops.ops') }}" class="text-decoration-none text-black col">
        <div>
            <i class="bi bi-lightning" style="font-size: 1.5rem;"></i>
            <figcaption class="text-center"><small>Operación</small></figcaption>
        </div>
    </a>
    <a href="{{ url_for('environment.environment') }}" class=" col text-decoration-none text-black">
        <div>
            <i class="bi bi-tree" style="font-size: 1.5rem;"></i>
            <figcaption class="text-center"><small>Ambiente</small></figcaption>
        </div>
    </a>
    <a href="{{ url_for('sst.sst') }}" class="text-decoration-none text-black">
        <div>
            <i class="bi bi-shield-shaded" style="font-size: 1.5rem;"></i>
            <figcaption class="text-center"><small>SST</small></figcaption>
        </div>
    </a>
    <a href="{{ url_for('social.social') }}" class="text-decoration-none text-black col">
        <div>
            <i class="bi bi-people" style="font-size: 1.5rem;"></i>
            <figcaption class="text-center"><small>RSC</small></figcaption>
        </div>
    </a>
</nav>
