

<nav class="nav nav-pills nav-justified ">
    <a href="" class="nav-link link-dark">
        <div>
            <i class="bi bi-house" style="font-size: 1.5rem;"></i>
            <figcaption class="text-center"><small>Home</small></figcaption>
        </div>
    </a>
    <a href="" class="nav-link  link-dark">
        <div>
            <i class="bi bi-lightning" style="font-size: 1.5rem;"></i>
            <figcaption class="text-center"><small>Generación</small></figcaption>
        </div>
    </a>
    <a href="{{ url_for('environment.environment') }}" class="nav-link  link-dark">
        <div>
            <i class="bi bi-tree" style="font-size: 1.5rem;"></i>
            <figcaption class="text-center"><small>Ambiente</small></figcaption>
        </div>
    </a>
    <a href="" class="nav-link  link-dark">
        <div>
            <i class="bi bi-shield-shaded" style="font-size: 1.5rem;"></i>
            <figcaption class="text-center"><small>SST</small></figcaption>
        </div>
    </a>
    <a href="" class="nav-link link-dark">
        <div>
            <i class="bi bi-people" style="font-size: 1.5rem;"></i>
            <figcaption class="text-center"><small>RSC</small></figcaption>
        </div>
    </a>
</nav>
