<nav class="navbar bg-body-tertiary">
    <div class="container-fluid hstack gap-3">
        <div class="p-2">
            <a href="{{ url_for('public.index') }}" class="navbar-brand">
                <img src="{{url_for('static', filename='icons/logo.ico')}}" alt="Hidrotambo" height="32">
            </a>
        </div>
            
        <div class="p-2 ms-auto"> 

        </div>
                
        <div class="p-2"> 
            <div class="dropdown-center">
                {% if current_user.is_authenticated %}
                <a  href="#" class="link-dark" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi-plus-square" style="font-size: 1.5rem"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    {% if current_user.role.name == "Operador" %}
                        <li >
                            <a class="dropdown-item" href="{{url_for('maintenance.work_order')}}">Orden de trabajo</a>
                        </li>
                        {% for mod in mods %}
                            <li>
                                <a href="{{ url_for('common.report', mod_id=mod.id) }}" class="dropdown-item">{{mod.name}}</a>
                            </li>                           
                        {% endfor %}

                    {% else %}
                    
                        {% for mod in mods %}
                            
                            {% if mod.code != "GEN" %}
                                {% if current_user.role.name == "Ayudante de operación" and mod.code != "RSC" %}
                                    <li>
                                        <a href="{{ url_for('common.report', mod_id=mod.id) }}" class="dropdown-item">{{mod.name}}</a>
                                    </li>
                                {% elif current_user.role.name != "Ayudante de operación" %}
                                    <li>
                                        <a href="{{ url_for('common.report', mod_id=mod.id) }}" class="dropdown-item">{{mod.name}}</a>
                                    </li>
                                {% endif %}
                            {% endif %}   
                                                
                        {% endfor %}
                    {% endif %}
                    
                </ul>
                {% else %}
                <a  href="{{url_for('auth.login')}}" class="link-dark">
                    <i class="bi-plus-square" style="font-size: 1.5rem"></i>
                </a>
                {% endif %}
            </div>
        </div>
        
        <div class="p-2">
            <button type="button" class="btn p-0 position-relative" id="bell-container" data-bs-toggle="offcanvas" data-bs-target="#notificationsMenu" aria-controls="notificationsMenu">
                <i class="bi bi-bell" style="font-size: 1.6rem"></i>
                <span id="notifications_container"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" data-bs-backdrop="false"  id="notificationsMenu" aria-labelledby="notificationsMenuLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="notificationsLabel">Notificaciones</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                    
                  </button>
                </div>
                <div class="offcanvas-body p-0">
                  <ul id="notificationList" class="list-group list-group-flush" >

                  </ul>
                </div>
              </div>
        </div>
        
        <div class="p-2 ">
            <div class="dropdown">
                <a href="#" class="link-dark" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-list" style="font-size: 1.5rem"></i>
                </a>
                
                <ul class="dropdown-menu dropdown-menu-end">
                    {% if current_user.is_authenticated %}
                        <li><a class="dropdown-item" href="#">{{ current_user.name }} </a></li>
                        <li><a class="dropdown-item" href="#" >Perfil</a></li>
                        <li><a class="dropdown-item" href="{{url_for('common.reports')}}">Reportes</a></li>
                        <li><a class="dropdown-item" href="{{url_for('maintenance.work_orders')}}">Ordenes de trabajo</a></li>

                        {% if current_user.name == "admin" %}
                            <li><a class="dropdown-item" href="{{ url_for('admin.admin_dashboard') }}">Dashboard</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.roles') }}">Roles</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.users') }}">Usuarios</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('admin.mods') }}">Modulos</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('common.activities') }}">Actividades</a></li>
                        {% endif %}

                        <li><a href="{{url_for('auth.logout')}}" class="dropdown-item">Logout</a></li>

                    {% else %}
                        <li><a class="dropdown-item" href="{{url_for('auth.login')}}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
            
        </div>
           
    </div>   
</nav>