<nav class="navbar bg-body-tertiary">
    <div class="container-fluid hstack gap-3">
            <div class="p-2">
                <a href="{{ url_for('public.index') }}" class="navbar-brand">
                    <img src="{{url_for('static', filename='icons/logo.ico')}}" alt="Hidrotambo" height="32">
                </a>
            </div>
            
                <div class="p-2 ms-auto"> 
        
                </div>
                
                <div class="p-2"> 
                    <a  href="#" class="link-dark">
                        <i class="bi-plus-square" style="font-size: 1.5rem"></i>
                    </a>
                    
                </div>
                <div class="p-2">
                    <a  href="#" class="link-dark">
                        <i class="bi bi-bell" style="font-size: 1.5rem"></i>
                    </a>
                </div>
                
                <div class="p-2 ">
                    <a href="#" class="link-dark" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-list" style="font-size: 1.5rem"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{{url_for('public.login')}}">Login</a></li>
                        
                    </ul>
                </div>
           
    </div>   
</nav>