<nav class="navbar bg-body-tertiary">
    <div class="container-fluid hstack gap-3">
            <div class="p-2">
                <a href="{{ url_for('public.index') }}" class="navbar-brand">
                    <img src="{{url_for('static', filename='icons/logo.ico')}}" alt="Hidrotambo" height="32">
                </a>
            </div>
            
                <div class="p-2 ms-auto"> 
        
                </div>
                
                <div class="p-2"> 
                    <div class="dropdown-center">
                        {% if current_user.is_authenticated %}
                        <a  href="#" class="link-dark" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi-plus-square" style="font-size: 1.5rem"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li class="dropdown-item">
                                <a href="{{url_for('common.reports')}}">Reportes</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="{{url_for('maintenance.work_orders')}}">Ots</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="{{url_for('maintenance.work_order')}}">Nueva Ot</a>
                            </li>
                            <li class="dropdown-item">
                                <a href="{{url_for('maintenance.maintenance')}}">RM</a>
                            </li>
                            {% for mod in mods %}
                                <li>
                                    <a href="{{ url_for('common.report', mod_id=mod.id) }}" class="dropdown-item">{{mod.name}}</a>
                                </li>                           
                            {% endfor %}
                        </ul>
                        {% else %}
                        <a  href="{{url_for('auth.login')}}" class="link-dark">
                            <i class="bi-plus-square" style="font-size: 1.5rem"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
                
                <div class="p-2">
                    <a  href="#" class="link-dark">
                        <i class="bi bi-bell" style="font-size: 1.5rem"></i>
                    </a>
                </div>
                
                <div class="p-2 ">
                    <div class="dropdown">
                        <a href="#" class="link-dark" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-list" style="font-size: 1.5rem"></i>
                        </a>
                        
                        <ul class="dropdown-menu dropdown-menu-end">
                            {% if current_user.is_authenticated %}
                                <li><a class="dropdown-item" href="#">{{ current_user.name }} </a></li>
                                <li><a class="dropdown-item" href="#" >Perfil</a></li>
                                {% if current_user.name == "admin" %}
                                    <li><a class="dropdown-item" href="{{ url_for('admin.admin_dashboard') }}">Dashboard</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('admin.roles') }}">Roles</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('admin.users') }}">Usuarios</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('admin.mods') }}">Modulos</a></li>
                                {% endif %}
                                <li><a href="{{url_for('auth.logout')}}" class="dropdown-item">Logout</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{{url_for('auth.login')}}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    
                </div>
           
    </div>   
</nav>